<!DOCTYPE html>
<html lang="<?= $lang; ?>">
<head>
    <meta charset="utf-8">
    <title>Peers TimeTracker</title>
    <base href="/">
    <script src="js/build/bootstrap.js"></script>
</head>
<body>
    <h1>Peers TimeTracker</h1>

    <form
        id="clientList"
        action="api/clients"
        method="get"
        class="client-form">
        <fieldset>
            <legend>Klienter</legend>
            <input type="submit" value="Hent klienter">
            <div class="client-list"></div>
        </fieldset>
    </form>

    <form 
        id="client1"
        action="api/client/1"
        method="get"
        class="client-form">
        <fieldset>
            <legend>Klient 1</legend>
            <input type="submit" value="Hent klient 1">
            <div class="client-list"></div>
        </fieldset>
    </form>

    <form
        id="createClient"
        action="api/client"
        method="post"
        class="client-form">
        <fieldset>
            <legend>Ny Klient</legend>
            <input type="text" name="name" required placeholder="name">
            <input type="submit" value="Opret klient">
            <div class="client-list"></div>
        </fieldset>
    </form>

    <form
        id="updateClient"
        action="api/client/{id}"
        method="put"
        class="client-form"
        enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>Ret Klient</legend>
            <input type="number" name="id" placeholder="id" min="0" value="1">
            <input type="text" name="name" placeholder="name" autofocus>
            <input type="submit" value="Ret klient">
            <div class="client-list"></div>
        </fieldset>
        <script>
            app.onRender(() =>
                { app.clientFillForm(document.getElementById("updateClient")) },
                () => app.clientFillForm)
        </script>
    </form>

    <form
        id="deleteClient"
        action="api/client/{id}"
        method="delete"
        class="client-form">
        <fieldset>
            <legend>Slet Klient</legend>
            <input type="number" name="id" placeholder="id" min="0" value="1">
            <input type="text" name="name" placeholder="name" readonly>
            <input type="submit" value="Slet klient">
            <div class="client-list"></div>
        </fieldset>
        <script>
            app.onRender(() => {
                const form = document.getElementById("deleteClient")
                app.clientFillForm(form)
                form.querySelector("input[name=id]")
                    .addEventListener("change", event => {
                        app.getClient(`api/client/${event.target.value}`, "get")
                    })
            },
            () => app.clientFillForm)
        </script>
    </form>

    <script src="js/build/app.js"></script>
</body>
</html>
